<p>
  <b>Track:</b>
  <%=h @entry.track %>
</p>

<p>
  <b>Artist:</b>
  <%=h @entry.artist %>
</p>

<p>
  <b>Album:</b>
  <%=h @entry.album %>
</p>

<p>
  <b>Title:</b>
  <%=h @entry.title %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
