<!--
<div id="jplayer_playlist">
    <ul></ul>
</div>
-->
<div id='player'></div>
<div class="jp-playlist-player">
    <div class="jp-interface">
        <ul class="jp-controls">
            <li><a href="#" id="jplayer_play" class="jp-play" tabindex="1">play</a></li>
            <li><a href="#" id="jplayer_pause" class="jp-pause" tabindex="1">pause</a></li>
            <li><a href="#" id="jplayer_stop" class="jp-stop" tabindex="1">stop</a></li>
            <li><a href="#" id="jplayer_volume_min" class="jp-volume-min" tabindex="1">min volume</a></li>
            <li><a href="#" id="jplayer_volume_max" class="jp-volume-max" tabindex="1">max volume</a></li>
            <li><a href="#" id="jplayer_previous" class="jp-previous" tabindex="1">previous</a></li>
            <li><a href="#" id="jplayer_next" class="jp-next" tabindex="1">next</a></li>
        </ul>
        <div class="jp-progress">
            <div id="jplayer_load_bar" class="jp-load-bar">
                <div id="jplayer_play_bar" class="jp-play-bar"></div>
            </div>
        </div>
        <div id="jplayer_volume_bar" class="jp-volume-bar">
            <div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div>
        </div>
        <div id="jplayer_play_time" class="jp-play-time"></div>
        <div id="jplayer_total_time" class="jp-total-time"></div>
        <div id='marquee'><%= t(:application_title) %></div>
    </div>
</div>

<div id='search'></div>

<div id='selectors'>
    <div id='artist-selector'>
        <div class='header'><%= t(:artists) %> <%= link_to_function(image_tag('arrow_refresh_small.png', :alt => t(:artists_refresh)), :title => t(:artists_refresh), :onclick => "howler.listBy('artist', '#artists-list')") %></div>
        <div id='artists-list'><div class='wait'></div></div>
    </div>
    <div id='album-selector'>
        <div class='header'><%= t(:albums) %> <%= link_to_function(image_tag('arrow_refresh_small.png', :alt => t(:albums_refresh)), :title => t(:albums_refresh), :onclick => "howler.listBy('album', '#albums-list')") %></div>
        <div id='albums-list'><div class='wait'></div></div>
    </div>
</div>

<div id='collection'></div>
<script type="text/javascript">
$(document).ready(function() {
    $("#player").jPlayer({
        swfPath: '/javascripts',
        nativeSupport: true,
        customCssIds: false,
        ready: function() {howler.player.init(); howler.init()}
    })
    howler.listBy('artist', '#artists-list')
    howler.listBy('album', '#albums-list')
    //<%= raw remote_function(:update => '#artists-list', :controller => 'entry', :action => 'list_by', :params => {:type => 'artist'}) %>
    //<%= raw remote_function(:update => '#albums-list', :controller => 'entry', :action => 'list_by', :params => {:type => 'album'}) %>
})
</script>
