<% if !@entries.blank? %>
<table id="entries">
    <thead>
        <tr>
            <th></th>
            <th>Artist</th>
            <th>Album</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <% @entries.each do |entry|
        # Note: all of this is done here to localize the processing per loop

        # encode items for the entry
        #id = h(entry.id)
        #artist = h(entry.artist)
        #album = h(entry.album)
        #title = h(entry.title)

        # artist bits
        artist_title = t(:artist_findby, :name => entry.artist)
        artist_onclick = remote_function(:update => '#collection', :controller => 'entry', :action => 'find_all_by', :params => {:type => 'artist', :artist => entry.artist })

        # album bits
        album_title = t(:album_findby, :name => entry.album)
        album_onclick = remote_function(:update => '#collection', :controller => 'entry', :action => 'find_all_by', :params => {:type => 'album', :album => entry.album })

        # play bits
        play_title = t(:entry_play, :name => entry.title)
        play_onclick = "player.play('#{entry.id}')"

        # add bits
        #add_title = t(:entry_add_queue, :name => title)
        #add_link = link_to(image_tag('add.png'), :href => '#', :title => add_title, :class => 'add', :onclick => "player.add('#{id}')")
        %>
        <tr id="<%= entry.id %>" class="entry">
          <td class="actions"><%= link_to_function(image_tag('control_play_blue.png'), :title => play_title, :class => 'play', :onclick => play_onclick) %></td>
          <td class="artist"><%= link_to_function(entry.artist, :title => artist_title, :onclick => artist_onclick) %></td>
          <td class="album"><%= link_to_function(entry.album, :title => album_title, :onclick => album_onclick) %></td>
          <td class="title"><%= link_to_function(entry.title, :title => play_title, :class => 'play', :onclick => play_onclick) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
